<h1> <%= @vendor.name %> </h1>

<h3> Contact Info </h3>
<p> Name: <%= @vendor.contact_name %></p>
<p> Phone: <%= @vendor.contact_phone %></p>
<br/>
<p> Credit Accepted? <%= @vendor.credit_accepted %></p>
<br/>
<p> Description: <%= @vendor.description %></p>